%h1
	=@temat
%h1	Dzien dobry
-if current_user
	=current_user.email
	=link_to'Wyloguj', destroy_user_session_path, method: :delete
-else
	panie kolego
	=link_to'Zaloguj',new_user_session_path
	=link_to'Zarejestruj',new_user_registration_path
=link_to'Józery', users_path
=link_to'Postowie', posts_path