%h1.text-center
	=@temat
%h2.text-center
	Dzien dobry waćpanie
	-if current_user
		=current_user.email
		%ul.h4.text-left
			%li
				=link_to'Józery', users_path
			%li
				=link_to'Postowie', posts_path
			%li
				=link_to'Wyloguj', destroy_user_session_path, method: :delete
	-else
		kolego
		%ul.h4.text-left
			%li
				=link_to'Zaloguj',new_user_session_path
			%li
				=link_to'Zarejestruj',new_user_registration_path
